#root {
  max-width: 1280px;
}

.contenedorGeneral {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  background-color: #9BF2EA;
}

.carcaza {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #41BFB3;
  height: 80%;
  width: 50%;
  border: 2px solid black;
  border-radius: 20px;
}

.display {
  display: flex;
  background-color: #2A8C82;
  height: 25%;
  width: 90%;
  border: 1px solid black;
  margin: 2.5%;
}

.teclado {
  display: flex;
  flex-direction: column;
  background-color: #2A8C82;
  height: 75%;
  width: 90%;
  margin: 2.5%;
  border: 1px solid black;
}

.lineaBoton1 {
  display: flex;
  height: 25%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.lineaBoton {
  display: flex;
  height: 35%;
  width: 100%;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #275950;
  height: 80%;
  width: 20%;
  margin-top: 1%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  border: 1px solid black;
  border-radius: 10px;
  font-size: large;
}